@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

@keyframes closed {
  0% {
    background-color: blue;
    color: white;
  }

  99% {
    background-color: blue;
    color: white;
  }

  100% {
    background-color: white;
    color: black;
  }
}

header.closed {
  animation: closed 0.5s;
}

.dropdown-menu {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.opened {
  max-height: 1000px;
}